{% extends "base.html" %}
{% block content %}

    <h1>Dashboard</h1>
    <p>Welcome to your dashboard! Here you can manage your flashcards and track your progress.</p>

    {% if not to_learn and not to_review and not flashcards_learned %}
    <p>You have no flashcards yet. Start by adding some flashcards to learn!</p>  
    {% else %}
    <h2>Your Flashcards</h2>
    {% endif %}

    {% if to_learn %}
    <p>To learn : {{ to_learn }}</p>
    {% endif %}
    
    {% if to_review %}
    <p>Today to review: {{ to_review }}</p>
    {% else %}
    <p>No flashcards to review today.</p>
    {% endif %}

    {% if flashcards_learned %}
    <p>Flashcards learned: {{ flashcards_learned }}</p>
    {% else %}
    <p>No flashcards learned yet.</p>
    {% endif %}

    

    <button><a href="{% url 'add_flashcard' %}">Add New Flashcard</a></button>

    <button onclick="location.href='{% url 'start_review' %}'">Start Review</button>

    
{% endblock %}