{% extends "base.html" %}
{% block content %}

    <h1>Welcome to the Flashcards App!</h1>
    <p>Hello, {{ user.username }}! Go to your dashboard to manage your flashcards.</p>
    
    {% if user.is_authenticated %}
        <button onclick="location.href='{% url 'dashboard' %}'">Go to Dashboard</button>

    
        <form method="post" action="{% url 'logout' %}">
        {% csrf_token %}
        <button type="submit" class="btn btn-link">Logout</button>
        </form>
        
    {% else %}
        <p><a href="{% url 'login' %}">Login</a> or <a href="{% url 'register' %}">register</a> to get started!</p>
    {% endif %}

{% endblock %}