{% extends "base.html" %}
{% block content %}

    <h1>Flashcard Review</h1>
    <p>Welcome to your review session! Here you can review your flashcards.</p>

    <h2>Your Flashcards</h2>
    {% if to_review %}
        {% for to_review in to_review %}
        <div class="flashcard-container mb-4 p-3 border rounded shadow-sm">
            <p class="h5">Question: {{ to_review.flashcard.question }}</p>
            <p class="answer text-success fw-bold" style="display: none;">Answer: {{ to_review.flashcard.answer }}</p>
            
            <button class="btn btn-secondary btn-sm show-answer-btn">Show Answer</button>
            <a class="btn btn-success btn-sm" href="{% url 'mark_flashcard' to_review.id 'true' %}">Mark as Known</a>
            <a class="btn btn-danger btn-sm" href="{% url 'mark_flashcard' to_review.id 'false' %}">Mark as Unknown</a>
        </div>
        {% endfor %}
    {% endif %}

    <script>
        // JavaScript to handle button clicks and update flashcard status
        const buttons = document.querySelectorAll('.show-answer-btn');
        
        buttons.forEach(button => {
            button.addEventListener('click', () => {
                const flashcardContainer = button.closest('.flashcard-container');
                const answer = flashcardContainer.querySelector('.answer');

                if (answer.style.display === 'block') {
                    answer.style.display = 'none';
                    button.textContent = 'Show Answer';
                } else {
                    button.textContent = 'Hide Answer';
                    answer.style.display = 'block';
                }
            });
        });

    </script>

{% endblock %}