{% extends "base.html" %}
{% block content %}

    <h1>Flashcard Review</h1>
    <p>Welcome to your review session! Here you can review your flashcards.</p>

    <h2>Your Flashcards</h2>
    {% if to_review %}
        {% for r in to_review %}
        <div class="flashcard-container mb-4 p-3 border rounded shadow-sm">
            <div class="flashcard-item {% if not forloop.first %}d-none{% endif %}" data-id="{{ r.id }}">
                <p class="h5">Question: {{ r.flashcard.question }}</p>
                <p class="answer text-success fw-bold" style="display: none;">Answer: {{ r.flashcard.answer }}</p>
                
                <button class="btn btn-secondary btn-sm show-answer-btn">Show Answer</button>
                <a class="btn btn-success btn-sm d-none" href="{% url 'mark_flashcard' r.id 'true' %}">Mark as Known</a>
                <a class="btn btn-danger btn-sm d-none" href="{% url 'mark_flashcard' r.id 'false' %}">Mark as Unknown</a>
                </div>
        </div>
        {% endfor %}

        <div id="empty-message" class="alert alert-info" style="display: none;">
            <p>No more flashcards to review. Great job!</p>
    {% else %}
        <p>No flashcards to review today. Great job!</p>
    {% endif %}

    <script>
        // JavaScript to handle button clicks and update flashcard status
        const buttons = document.querySelectorAll('.show-answer-btn');
        
        buttons.forEach(button => {
            button.addEventListener('click', () => {
                const flashcardContainer = button.closest('.flashcard-container');
                const answer = flashcardContainer.querySelector('.answer');
                const markKnownBtn = flashcardContainer.querySelector('.btn-success');
                const markUnknownBtn = flashcardContainer.querySelector('.btn-danger');

                if (answer.style.display === 'block') {
                    answer.style.display = 'none';
                    button.textContent = 'Show Answer';
                } else {
                    button.textContent = 'Hide Answer';
                    answer.style.display = 'block';
                    markKnownBtn.classList.remove('d-none');
                    markUnknownBtn.classList.remove('d-none');
                }
            });
        });

    </script>

{% endblock %}